<% if (data.mediaType === 'Movie') { %>
    <div class="data-line">
        Initial Release Date: <%= data.movie.releaseDate %> 
    </div>
    <div class="data-line">
        Director(s):
        <% for (let director of data.movie.director) { %>
            <div><%= director %></div>
        <% } %> 
    </div>
    <div class="data-line">
        Writer(s):
        <% for (let writer of data.movie.writer) { %>
            <div><%= writer %></div>
        <% } %> 
    </div>
<% } %>


<% if (data.mediaType === 'TV Show') { %>
    <div class="data-line">
        Initial Release Date: <%= data.tv.releaseDate %> 
    </div>
    <div class="data-line">
        Series: <%= data.tv.series %> 
    </div>
    <div class="data-line">
        Season: <%= data.tv.season %>
    </div>
    <div class="data-line">
        Episode: <%= data.tv.episode %>
    </div>
<% } %>



<% if (data.mediaType === 'Book') { %>
    <div class="data-line">
        Initial Release Date: <%= data.book.releaseDate %> 
    </div>
    <div class="data-line">
        Author(s):
        <% for (let author of data.book.author) { %>
            <div><%= author %></div>
        <% } %> 
    </div>
    <div class="data-line">
        Series: <%= data.book.series %> 
    </div>
    <div class="data-line">
        Publisher: <%= data.book.publisher %> 
    </div>
    <div class="data-line">
        ISBN-10: <%= data.book.isbn10 %> 
    </div>
<% } %>


<% if (data.mediaType === 'Comic') { %>
    <div class="data-line">
        Initial Release Date: <%= data.movie.releaseDate %> 
    </div>
    <div class="data-line">
        Writer: <%= data.comic.writer %> 
    </div>
    <div class="data-line">
        Art Contributors:
        <% for (let artist of data.comic.artContributor) { %>
            <div><%= artist %></div>
        <% } %> 
    </div>
    <div class="data-line">
        Series: <%= data.comic.series %> 
    </div>
    <div class="data-line">
        Issue Number: <%= data.comic.issueNum %> 
    </div>
<% } %>


<% if (data.mediaType === 'Video Game') { %>
    <div class="data-line">
        Initial Release Date: <%= data.movie.releaseDate %> 
    </div>
    <div class="data-line">
        Studio: <%= data.videoGame.studio %> 
    </div>
    <div class="data-line">
        Publisher: <%= data.videoGame.publisher %> 
    </div>
<% } %>