<div class="form-field">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= data.title %>" required autofocus>
</div>
<div class="form-field">
    <label for="media-type">Media Type</label>
    <select name="mediaType" id="mediaType">
        <% for(let mediaType of mediaTypes) { %>
            <option value="<%= mediaType %>" <%= data.mediaType === mediaType ? 'selected': ''%>><%= mediaType %></option>
        <% } %> 
    </select>
</div>
<div class="form-field">
    Upload Image
    <div class="file-name" id="file-name"></div>
    <input type="file" name="sourceImage" id="sourceImage" class="inputfile">
    <label for="sourceImage" class="btn-browse">Browse...</label>
</div>
<div class="imgpreview-wrapper">
    <img src="<%= data.images.url %>" class="image-preview">
</div>  


<div class="hide-sources" id="book-fields">
    <div class="form-field">
        <label for="book-author">Author(s)</label>
        <% for(let author of data.book.author) { %>    
            <input type="text" class="book-author" name="book[author][]" value="<%= author %>">
        <% } %> 
        <a href="#" id="add-author">Add another author</a>
    </div>
    <div class="form-field">
        <label for="book-series">Series</label>
        <input type="text" id="book-series" name="book[series]" value="<%= data.book.series %>">
    </div>
    <div class="form-field">
        <label for="publisher">Publisher</label>
        <input type="text" id="publisher" name="book[publisher]" value="<%= data.book.publisher %>">
    </div>
    <div class="form-field">
        <label for="bookReleaseDate">Initial Release Date</label>
        <input type="date" class="date" id="bookReleaseDate" name="book[releaseDate]" min="1977-05-25" value="<%= data.book.releaseDate %>">
    </div>
    <div class="form-field">
        <label for="isbn10">ISBN-10</label>
        <input type="text" id="isbn10" name="book[isbn10]" value="<%= data.book.isbn10 %>">
    </div>
</div> 
<div class="hide-sources" id="movie-fields">
    <div class="form-field">
        <label for="movie-director">Director(s)</label>
        <% for(let director of data.movie.director) { %>    
            <input type="text" class="movie-director" name="movie[director][]" value="<%= director %>">
        <% } %> 
        <a href="#" id="add-director">Add another director</a>
    </div>
    <div class="form-field">
        <label for="movie-writer">Writer(s)</label>
        <% for(let writer of data.movie.writer) { %>    
            <input type="text" class="movie-writer" name="movie[writer][]" value="<%= writer %>">
        <% } %> 
        <a href="#" id="add-writer">Add another writer</a>
    </div>
    <div class="form-field">
        <label for="movieReleaseDate">Initial Release Date</label>
        <input type="date" class="date" id="movieReleaseDate" name="movie[releaseDate]" min="1977-05-25" value="<%= data.movie.releaseDate %>">
    </div>
</div> 
<div class="hide-sources" id="comic-fields">
    <div class="form-field">
        <label for="comic-writer">Writer</label>
        <input type="text" id="comic-writer" name="comic[writer]" value="<%= data.comic.writer %>">
    </div>
    <div class="form-field">
        <label for="art-contributor">Art Contributor(s)</label>
        <% for(let artist of data.comic.artContributor) { %>    
            <div class="form-field"><input type="text" id="art-contributor" class="art-contributor" name="comic[artContributor][]" value="<%= artist %>"></div>
        <% } %>   
        <a href="#" id="add-artist">Add another art contributor</a>
    </div>
    <div class="form-field">
        <label for="comic-series">Series</label>
        <input type="text" id="comic-series" name="comic[series]" value="<%= data.comic.series %>">
    </div>
    <div class="form-field">
        <label for="comic-issue">Issue</label>
        <input type="number" id="comic-issue" name="comic[issueNum]" value="<%= data.comic.issueNum %>" min="0">
    </div>
    <div class="form-field">
        <label for="comicReleaseDate">Initial Release Date</label>
        <input type="date" class="date" id="comicReleaseDate" name="comic[releaseDate]" min="1977-05-25" value="<%= data.comic.releaseDate %>">
    </div>
</div> 
<div class="hide-sources" id="tv-fields">
    <div class="form-field">
        <label for="tv-series">Series</label>
        <input type="text" id="tv-series" name="tv[series]" value="<%= data.tv.series %>">
    </div>
    <div class="form-field">
        <label for="tv-season">Season</label>
        <input type="number" id="tv-season" name="tv[season]" min="1" value="<%= data.tv.season %>">
    </div>
    <div class="form-field">
        <label for="tv-episode">Episode</label>
        <input type="number" id="tv-episode" name="tv[episode]" min="1" value="<%= data.tv.episode %>">
    </div>
    <div class="form-field">
        <label for="tvReleaseDate">Initial Release Date</label>
        <input type="date" class="date" id="tvReleaseDate" name="tv[releaseDate]" min="1977-05-25" value="<%= data.tv.releaseDate %>">
    </div>
</div> 
<div class="hide-sources" id="game-fields">
    <div class="form-field">
        <label for="vg-studio">Production Studio</label>
        <input type="text" id="vg-studio" name="videoGame[studio]" value="<%= data.videoGame.studio %>">
    </div>
    <div class="form-field">
        <label for="vg-publisher">Series</label>
        <input type="text" id="vg-publisher" name="videoGame[publisher]" value="<%= data.videoGame.releaseDate %>">
    </div>
    <div class="form-field">
        <label for="vgReleaseDate">Initial Release Date</label>
        <input type="date" class="date" id="vgReleaseDate" name="videoGame[releaseDate]" min="1977-05-25" value="<%= data.videoGame.releaseDate %>">
    </div>
</div> 