<% layout('layouts/boilerplate.ejs') %>

<h1>Source Data</h1>
    <div>Title: <%= publicSourceData.title %></div>
    <div>Type: <%= publicSourceData.mediaType %></div>
    <div>Most Recent Contributors: <%= publicSourceData.author[0].username %></div>
    <div><img src="<%= publicSourceData.images.url %>"> </div>
<% if (currentUser) { %> 
    <div><a href="/sources/<%= publicSourceData.slug %>/edit">Edit</a></div>
<% } %> 
<% if (currentUser && currentUser.role === 'admin') { %>
    <div>
        <form action="/sources/<%= publicSourceData._id %>?_method=DELETE" method="POST">
            <button class="btn-delete">Delete Record</button>
        </form>
    </div>
<% } %> 