<% layout('layouts/boilerplate.ejs') %>

<h1>Source Data</h1>
    <div>Title: <%= publicSourceData.title %></div>
    <div>Type: <%= publicSourceData.mediaType %></div>
    <div>Most Recent Contributors: <%= publicSourceData.author[0].username %></div>
    <div><img src="<%= publicSourceData.images.url %>"> </div>
<% if (currentUser) { %>
    <% if (!publicSourceData.checkedOut) { %> 
        <div><a href="/sources/<%= publicSourceData.slug %>/edit" class="button-edit">Edit</a></div>
    <% } else { %> 
        <div><a href="#" class="button-locked">Locked</a></div>
    <% } %> 
<% } %> 
<% if (currentUser && currentUser.role === 'admin') { %>
    <div>
        <form action="/sources/<%= publicSourceData.slug %>?_method=DELETE" method="POST">
            <button class="btn-delete">Delete Record</button>
        </form>
    </div>
<% } %> 

