<% layout('layouts/boilerplate.ejs') %>

<div class="disableDiv">
    <div class="countdown-popup">
        Your session will time out and you will lose all changes in:
        <div class="countdown-timer"></div>
        <button class="btn-delete" id="timerButton">Click to continue working.</button>
    </div>
</div>

<main>
    <div class="form">
        <h1>Edit Submission</h1>
            <form action="/sources/review/<%= data._id %>/edit?_method=PUT" method="POST" id="editSource" enctype="multipart/form-data">
        <div class="form-field">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="<%= data.title %>" required autofocus>
        </div>
        <div class="form-field">
            <label for="media-type">Media Type</label>
            <select name="mediaType" id="mediaType" disabled>
                <% for(let mediaType of mediaTypes) { %>
                    <option value="<%= mediaType %>" <%= data.mediaType === mediaType ? 'selected': ''%>><%= mediaType %></option>
                <% } %> 
            </select>
        </div>
        <div class="form-field">
            Upload Image
            <div class="file-name" id="file-name"></div>
            <input type="file" name="sourceImage" id="sourceImage" class="inputfile">
            <label for="sourceImage" class="btn-browse">Browse...</label>
        </div>
        <div class="imgpreview-wrapper">
            <img src="<%= data.images.url %>" class="image-preview">
        </div>  
        
        <%- include('../partials/sourceforms.ejs') %>

        <div>
            <button class="btn-submit">Submit for Review</button>
        </div>
        <div id="warning"></div>
        </form>
    </div>
</main>



<script>
    const sourceId = '<%- data._id %>'
</script>
<script type="module" src="/js/editReviewSource.js"></script>

