<% layout('layouts/boilerplate.ejs') %>


<h1>This is your dashboard <%= currentUser.username %></h1>

<h2>Here are your pending submissions: </h2>

<% if(!viewablePendingRequests.length) { %> 
    <div>You have no pending submissions.</div>
    <% } %>


<% for (let pendingRequest of viewablePendingRequests) { %>
    <div><%= pendingRequest.title %> for <%= pendingRequest.mediaType %> by <%= pendingRequest.author[0].username %>  ADD EDIT LINK!</div>
    <% if(currentUser.role === 'admin' && !currentUser._id.equals(pendingRequest.author[0]._id)) { %>
    <div><a href="/sources/review/<%= pendingRequest._id %>">Review</a></div>
    <% } %>
    <% if (currentUser._id.equals(pendingRequest.author[0]._id) && (pendingRequest.state === 'new' ||  pendingRequest.state ==='update') && pendingRequest.checkedOut === false) { %>
        <a href="sources/review/<%= pendingRequest._id %>/edit/">EDIT SUBMISSION</a>
        <div>
            <form action="/sources/review/<%= pendingRequest._id %>?_method=DELETE" method="POST">
                <button class="btn-delete">Delete Record</button>
            </form>
        </div>
    <% } %> 
<% } %>


