<% layout('layouts/boilerplate.ejs') %>

<div class="disableDiv">
    <div class="warning-popup">
        Confirm you want to delete this record by typing DELETE and clicking "Delete".
        <form action="" id="delete-confirmation">
            <div class="form-field"><input type="text" id="delete-validate"></div>
        <div class="popup-btn-container">
            <button class="button-delete">Delete</button>
        </form>
        <a href="#" class="button-edit">Cancel</a>
    </div>
    <div class="failed-match"></div>
    </div>
</div>


<div class="pending-container">
    <div class="user-header">
        Placeholder for user info
    </div>
    <div class="record-column">
        <div class="column-header">
            Pending Submissions
        </div>
        <% for(let pendingRequest of viewablePendingRequests) { %>
            <% if (currentUser._id.equals(pendingRequest.author[0]._id) && (pendingRequest.state === 'new' || pendingRequest.state === 'update')) { %>
                <div class="column-entry">
                    <div class="record-title">Record: <%= pendingRequest.title %></div>
                    <div class="record-date">Last Update: <%= pendingRequest.updateDate %> </div>
                    <div class="record-state">
                        <div class="state-container">
                            <%= pendingRequest.state %>
                        </div>
                    </div>
                    <% if (!pendingRequest.checkedOut) { %> 
                    <div class="record-edit"><a href="sources/review/<%= pendingRequest._id %>/edit/" class="button-edit">Edit</a></div>
                    <div class="record-delete">
                        <form action="/sources/review/<%= pendingRequest._id %>?_method=DELETE" method="POST" class="delete-record">
                            <button class="button-delete">Delete</button>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="record-edit"><a href="#" class="button-locked">Locked</a></div>
                        <div class="record-delete"><a href="#" class="button-locked">Locked</a></div>
                    <% } %> 
                </div>
            <% } %>
        <% } %>
    </div>
    <div class="record-column">
        <div class="column-header">
            Reviewed
        </div>
        <% for(let pendingRequest of viewablePendingRequests) { %>
            <% if (pendingRequest.state === 'approved' || pendingRequest.state === 'rejected') { %>
                <div class="column-entry">
                    <div class="record-title">Record: <%= pendingRequest.title %></div>
                    <div class="record-date">Last Update: <%= pendingRequest.updateDate %></div>
                    <div class="record-state">
                        <div class="state-container">
                            <%= pendingRequest.state %>
                        </div>
                    </div>
                    <div class="record-delete">
                        <a href="google.com" class="button-edit">View Notes</a>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
    <% if (currentUser.role === 'admin') { %>
        <div class="record-column">
            <div class="column-header">
                To Be Reviewed
            </div>
            <% for(let pendingRequest of viewablePendingRequests) { %>
                <% if (currentUser.role === 'admin' && !currentUser._id.equals(pendingRequest.author[0]._id)) { %>
                    <div class="column-entry">
                        <div class="record-title">Record: <%= pendingRequest.title %></div>
                        <div class="record-date">Last Update: <%= pendingRequest.updateDate %></div>
                        <div class="record-state">
                            <div class="state-container">
                                State
                            </div>
                        </div>
                        <div></div>
                        <% if (!pendingRequest.checkedOut) { %> 
                        <div class="record-edit"><a href="/sources/review/<%= pendingRequest._id %>" class="button-edit">Review</a></div>
                        <% } else { %> 
                        <div class="record-edit"><a href="#" class="button-locked">Locked</a></div>
                        <% } %> 
                    </div>
                
            <% } %>
        <% } %>
        </div>
    <% } %>
</div>

    <script type="module" src="/js/dashboard.js"></script>

